{{define "login"}}
    <div>
        <form target="/login" method="post">
            <label for="login">Логин</label><input type="text" id="login" name="login">
            <label for="password">Пароль</label><input type="password" id="password" name="password">
            <input type="submit" name="login" value="Войти">
        </form>

    </div>

    {{template "response" .}}
{{end}}