<nav>
    <ul>
        <li><a href="/admin/home">Домашняя страница</a> </li>
        <li><a href="/admin/users">Пользователи</a></li>
        <li><a href="/admin/equipment">Оборудование</a></li>
        <li><a href="/admin/inventory">Инвентарь</a></li>
        <li><a href="/admin/access-groups">Группы доступа</a></li>
    </ul>
</nav>
