{{ define "home_nav"}}

<nav>
    <ul>
        <li><a href="/">Домашняя страница</a></li>
        <li><a href="/docs">Документация</a></li>
        <li><a href="/register">Зарегистрироваться</a></li>
        <li><a href="/login">Войти</a></li>
    </ul>
</nav>

{{ end }}
