<nav>
    <ul>
        <li><a href="/scientists/home">Домашняя страница</a> </li>
        <li><a href="/scientists/access-groups">Группы доступа</a></li>
        <!--<li><a href="/scientists/inventory">Инвентарь</a></li>
        <li><a href="/scientists/experiments">Мои эксперименты</a></li>
        <li><a href="/scientists/experiments/plan">Запланировать эксперимент</a></li>
        -->
    </ul>
</nav>