<nav>
    <ul>
        <li><a href="/scientists/equipment">Оборудование</a>/li>
        <li><a href="/scientists/inventory">Инвентарь</a></li>
        <li><a href="/scientists/experiments">Мои эксперименты</a></li>
        <li><a href="/scientists/experiments/plan">Запланировать эксперимент</a></li>
    </ul>
</nav>