<!doctype html>
<html lang="en">
<head>
    {{ template "head" .}}
    <title>Админка</title>
</head>

<body>

<nav>
    <ul>
        <li><a href="/admin/home">Домашняя страница</a> </li>
        <li><a href="/admin/users">Пользователи</a></li>
        <li><a href="/admin/equipment">Оборудование</a></li>
        <li><a href="/admin/inventory">Инвентарь</a></li>
        <li><a href="/admin/access-groups">Группы доступа</a></li>
    </ul>
</nav>



{{if eq .Path "/admin/home"}}
    {{template "pages/admin/home.gohtml" .}}
{{else if eq .Path "/admin/users"}}
    {{template "pages/admin/users.gohtml" .}}
{{else if eq .Path "/admin/equipment"}}
    {{template "pages/admin/equipment.gohtml" .}}
{{else if eq .Path "/admin/inventory"}}
    {{template "pages/admin/inventory.gohtml" .}}
    {{else if eq .Path "/admin/access-groups"}}
    {{template "pages/admin/access_groups.gohtml" .}}
{{end}}

</body>