<!doctype html>
<html lang="en">
<head>
    {{ template "head" .}}
    <title>Админка</title>
</head>

<body>

{{template "components/admin_nav.gohtml" .}}



{{if eq .Path "/admin/home"}}
    {{template "pages/home.gohtml" .}}
{{else if eq .Path "/admin/users"}}
    {{template "pages/users.gohtml" .}}
{{else if eq .Path "/admin/equipment"}}
    {{template "pages/equipment.gohtml" .}}
{{else if eq .Path "/admin/inventory"}}
    {{template "pages/inventory.gohtml" .}}
    {{else if eq .Path "/admin/access-groups"}}
    {{template "pages/access_groups.gohtml" .}}
{{end}}

<div id="content"></div>

</body>