<!doctype html>
<html lang="en">
<head>
    {{ template "head" .}}
    <title>Главная страница</title>
</head>

<body>

{{ template "home_nav" .}}


{{if eq .Path "/home"}}
    {{template "pages/home.gohtml" .}}
{{ else if eq .Path "/docs"}}
    {{template "pages/docs.gohtml" .}}
{{else if eq .Path "/register"}}
    {{template "pages/register.gohtml" .}}
{{else if eq .Path "/login"}}
    {{template "pages/login.gohtml" .}}
{{end}}




</body>