<!doctype html>
<html lang="en">
<head>
    {{ template "head" .}}
    <title>Личный кабинет ученого</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="/scientists/home">Домашняя страница</a> </li>
        <li><a href="/scientists/access-groups">Группы доступа</a></li>
        <li><a href="/scientists/experiments/add">Запланировать эксперимент</a></li>
        <li><a href="/scientists/experiments">Мои эксперименты</a></li>
        <li><a href="/scientists/equipment">Мое оборудование</a></li>
        <li><a href="/scientists/inventory">Мой инвентарь</a></li>

    </ul>
</nav>

{{if eq .Path "/scientists/home"}}
    {{template "pages/scientist/home.gohtml" .}}
{{else if eq .Path "/scientists/docs"}}
    {{template "pages/scientist/docs.gohtml" .}}
{{else if eq .Path "/scientists/my-access-groups"}}
    {{template "pages/scientist/access-groups.gohtml" .}}
{{else if eq .Path "/scientists/experiments/add"}}
    {{template "pages/scientist/experiment_add.gohtml" .}}
{{else if eq .Path "/scientists/experiments"}}
    {{template "pages/scientist/experiment.gohtml" .}}
{{else if eq .Path "/scientists/equipment"}}
    {{template "pages/scientist/equipment.gohtml" .}}
{{else if eq .Path "/scientists/inventory"}}
    {{template "pages/scientist/inventory.gohtml" .}}
{{end}}

</body>