<!doctype html>
<html lang="en">
<head>
    {{ template "head" .}}
    <title>Личный кабинет ученого</title>
</head>

<body>
<nav>
    <ul>
        <li><a href="/scientists/home">Домашняя страница</a> </li>
        <li><a href="/scientists/my-access-groups">Группы доступа</a></li>
        <!--<li><a href="/scientists/inventory">Инвентарь</a></li>
        <li><a href="/scientists/experiments">Мои эксперименты</a></li>
        -->
        <li><a href="/scientists/experiment/add">Запланировать эксперимент</a></li>

    </ul>
</nav>

{{if eq .Path "/scientists/home"}}
    {{template "pages/scientist/home.gohtml" .}}
{{else if eq .Path "/scientists/docs"}}
    {{template "pages/scientist/docs.gohtml" .}}
{{else if eq .Path "/scientists/my-access-groups"}}
    {{template "pages/scientist/access_groups.gohtml" .}}
{{else if eq .Path "/scientists/experiment/add"}}
    {{template "pages/scientist/experiment_add.gohtml" .}}
{{end}}

</body>